meta(name="viewport" content="width=device-width, initial-scale=1")

link(href="https://fonts.googleapis.com/css?family=EB+Garamond:400,500,500i,700&display=swap",rel="stylesheet")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
script(src="js/works.js")
header
  h3 
    a(href="index.html") Nathan A. Dana
  ul.bigmenu
    li
      h5
        a(href="index.html") Case <span class="t-none">Studies</span><span class="m-none">Study Index</span>
    //- li
    //-   a(href="#") Car Shopper UX
    //- li
    //-   a(href="#") Composer Architecture
    //- li
    //-   a(href="#") The Homepage
    //- li
    //-   a(href="#") Design System
    //- li
    //-   a(href="#") Volkswagen Dealers
    //- li
    //-   a(href="#") Enthusiast Magazine
    //- li
    //-   a(href="#") Little Wins
    li
      h5
        a(href="works.html") Works
    li
      h5
        a(href="resume.html") Resume
