doctype html
html(lang="en" robots="noindex, nofollow")
  meta(name="viewport" content="width=device-width, initial-scale=1", charset="UTF-8")
  head
    title Protected Page
    script.
      const password = "letmein";
      const accessKey = "siteAccess";

      // Auto-bypass if previously authenticated
      if (localStorage.getItem(accessKey) === "true") {
        window.location.href = "home.html";
      }

      function checkPassword() {
        const userInput = document.getElementById("pw").value;
        if (userInput === password) {
          localStorage.setItem(accessKey, "true");
          window.location.href = "home.html";
        } else {
          alert("Wrong password!");
        }
      }
include styles.pug
main.main-content
  h1.resume-header Nathan A. Dana
  ul.horizontal(style="align-items: center;") 
    li Fort Mill, SC
    li 1 802 846-7679
    li  
      a(href="mailto:nathan.dana@gmail.com") nathan.dana@gmail.com
    li
      a(href="https://nathandana.netlify.app/") Portfolio Site
    li
      a(href="http://linkedin.com/in/midbrain") linkedin.com/in/midbrain

  .card(style="width: 80vw; margin:auto; display: flex; flex-direction: column; align-items: flex-start; padding: 0 2em;")
          
        h2 Password Protected
        p Due to the nature of the content shown, please enter the password provided to view my portfolio. 
          a(href="mailto:nathan.dana@gmail.com") Email for a password. 
        div(style="margin-top: 2em;")
          form(onsubmit="checkPassword(event)")
            label(for="pw")
              h3(style="margin-bottom: .5em;") Enter Password
            div(style="display: flex; gap: .5em; margin: auto;")
              input#pw(type="password" required, style="border-radius: 6px; font-size: 16px;")
              button(type="submit") Enter

            p(style="opacity: 0.0;") Temporary password is "letmein"

