// RESET

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+LA:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playwrite+DE+LA:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap');
/* Root CSS Variables from SCSS Variables */
:root {
  --bgcolor: #EFF4F7;
  --bgcontrast: #fff;
  --linkcolor: var(--primary-color);
  --button-color: white;
  --button-color-off: black;
  --button-bgcolor: var(--primary-color);
  --primary-color: #0262c8;
  --primary-hover-color: #004c9e;
  --primary-off-color: #EFF4F7;
  --border-color: #ccc;
  --border-color-dark: #bbb;
  --text-color: #333;
  --light-gray: #D9D9D9;
  --medium-gray: #8C8C8C;

  --font-size-base: 16px;
  --font-size-small: .875rem;
  --font-size-large: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.25rem;

  --line-height-base: 1.75em;
  --line-height-small: 1.5em;
  --line-height-large: 2.25em;

  --font-family-interactions: 'Roboto Slab', Arial, sans-serif;
  --font-family-base: 'EB Garamond', serif;

  --spacing-small: 0.5em;
  --spacing-medium: 1em;
  --spacing-large: 2em;

  --border-radius-small: .5em;
  --border-radius-medium: .75em;
  --border-radius-large: 1em;

  --box-shadow-light: 0 2px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.15);
  --box-shadow-dark: 0 5px 8px rgba(0, 0, 0, 0.25);
  --box-shadow-large: 0 1em 2em rgba(0, 0, 0, 0.15);
}

/* Apply Global Styles Using CSS Vars */
body {
  background-color: var(--bgcolor);
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 10em;
}

/* Additional Modes */
body.dark {
  --button-color-off: white;

  --bgcolor: #222;               // Dark background
--bgcontrast: #000;            // Slightly lighter for contrast panels
--linkcolor: #ffccbb;             // Softened version of #991100 for dark mode
--button-color: #ffffff;          // White text for contrast on button
--button-bgcolor: var(--primary-color);        // Brighter button background
--primary-color: #66aaff;         // Lighter blue for better visibility
--primary-hover-color: #3399ff;   // Brighter hover effect
--border-color: #444444;          // Dark gray for subtle borders
--text-color: #eeeeee;            // Light text for readability
--light-gray: #999999;            // Adjusted gray for legibility in dark mode
--primary-off-color: #222;
--medium-gray: lightgray;
&.high-contrast {
  --bgcolor: #111;               // Dark background
  --box-shadow-light: 0 0px 0px 1px rgba(255, 255, 255, 0.5);
  --box-shadow-medium: 0 0px 0px 1px rgba(255, 255, 255, 0.75);
}
}


.intro-container {
  background-color: #F5AA4E;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 3em;
  box-shadow: var(--box-shadow-large);
  h1 {
    margin:  -.5rem 0;
    font-size: 12vw;
    line-height: .75em;
    font-weight: 800;
    font-family: var(--font-family-interactions);
  }

  margin-bottom: 2em;
}

body.high-contrast {
  --bgcolor: #E4E4E4;

  --box-shadow-light: 0 2px 6px rgba(0, 0, 0, 0.3);
  --box-shadow-medium: 0 3px 6px rgba(0, 0, 0, 0.5);
  --light-gray: gray;

}

body.dyslexic {
  --font-family-interactions: 'Atkinson Hyperlegible', Arial, sans-serif;
  --font-family-base: 'Atkinson Hyperlegible', Arial, sans-serif;
  

}

/* Settings Menu Styles */
.settings-icon {
  cursor: pointer;
  width: 2em;
  height: 2em;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 100;
}

.menu {
  display: none;
  position: fixed;
  z-index: 101;
  top: 3em;
  right: 1rem;
  background: var(--bgcontrast);
  color: var(--text-color);
  border-radius: var(--border-radius-medium);
  padding: var(--spacing-medium);
  width: 260px;
  box-shadow: var(--box-shadow-medium);
  transition: all 0.3s ease;
  border: none;
}

.menu.open {
  display: block;
}

.menu-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-medium);
}

.toggle-group {
  display: flex;
  justify-content: space-between;
}

.toggle-group button {
  flex: 1;
  margin: 0 2px;
  padding: var(--spacing-small);
  border: 1px solid var(--border-color);
  background: var(--primary-off-color);
  color: var(--button-color-off);
  &:hover {
    background: var(--primary-hover-color);
    color: var(--button-color);
  }
}

.toggle-group button.active {
  background: var(--button-bgcolor);
  color: var(--button-color);
}

.switch {
  position: relative;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  border-radius: var(--border-radius-large);
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

.switch input:checked + .slider {
  background-color: var(--primary-color);
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

body.ios .slider {
  background-color: #e5e5ea;
}

body.android .slider {
  background-color: #ccc;
}


// Colors

// Font Sizes




body {
  background-color: var(--bgcolor);
  font-size: 16px;
  font-family: var(--font-family-base);
  font-weight: 400;
}
.main-content {
  max-width: 1280px;
  margin: 2em auto;
  padding-left: 1em;
  padding-right: 2em;
}
h1,
h2,
h3,
h4,
h5{
  font-family: var(--font-family-base);
    font-weight: 500;
  margin-top: .5em;
  margin-bottom: .5em;
}


h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  margin-bottom: 1em;
  font-size: var(--font-size-h4);
}
a {
  color: var(--linkcolor);
  text-decoration: underline;
}
p {
  font-size: var(--font-size-large);
  line-height: var(--line-height-base);
  &.lead {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-small);

  }
}

.t-none {
  display: none;
}



header {
  z-index: 2;
  position: fixed;
  width: 20%;
  .menu {
    display: none;
  }
  h1 {
    text-align: center;
    font-size: var(--font-size-h3);
  }
  .bigmenu {
    text-align: center;
    li {
      margin-bottom: 1em;
      a {
        color: var(--linkcolor);
        text-decoration: underline;
        font-family: var(--font-family-interactions);
        font-weight: 400;
        &.current-page {
          color: var(--text-color);
          text-decoration: none;
          
        }
      }
      margin-top: 1.75em;
      font-size: var(--font-size-base);
      font-weight: 500;
    }
    h5 {
      margin-top: 2.0em;
      font-size: var(--font-size-base);
    }
    a {
      text-decoration: underline;
      &:hover {
        color: var(--linkcolor);
        text-decoration: underline;
      }
    }
  }
}

.half-card {
  display: flex;
  gap: 1em;
  .card {
    align-items: inherit;
    .content {
      flex-basis: 100%;
      margin:1em 2em;
    }
  }
}

.cards {
  width: 75%;
  margin-left: 25%;
  transition: width 100ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .card {
      width: calc(50% - 1em);
      margin-right: 1em;
      flex-direction: column;
      min-height: 25em;
      height: 25em;
      .content {
        text-align: left;
      }
      h3 {
        margin-top: 1em;
        margin-bottom: .5em;
      }
      .image {
        &:hover {
          cursor: pointer;
        }
        height: 30em;
        width: 100%;
        background-color: white;
      }
    }
  }
}
.chips {
  display: flex; width: 100%;
  align-items: space-around;
  justify-content: left;
  margin-bottom: 1em;
}
.chip {
  border-radius: var(--border-radius-large);
  margin-right: .25em;
  text-align: center;
  box-shadow: var(--box-shadow-medium);
  background-color: var(--bgcontrast);
  padding: .25em 1em;
  font-size: var(--font-size-small);
  border: solid var(--bgcontrast) 1px;
  font-family: var(--font-family-interactions);
  
  &:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow-light);
    border: solid var(--border-color) 1px;
  }
  &.selected {
    background-color: var(--linkcolor);
    color: white;
  }
}
.card {
  background-color: var(--bgcontrast);
  min-height: 15em;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  box-shadow: var(--box-shadow-light);
  margin-bottom: 2em;
  padding: 0em 0 0em;
  .content {
    margin: 0  2em;
    flex-basis: 60%;
    &.full-width {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      p {
        max-width: 40em;
      }
    }
    // h2 {
    //   font-size: 2em;
    //   margin-bottom: .5em;
    // }
    // p {
    //   margin-bottom: .5em;
    //   font-size: 1rem;
    //   line-height: 1.5em;
    // }
  }
  .image {
    display: block;
    position: relative;
    float: left;
    width: 40%;
    flex-grow: 1;
    height: 20em;
    border-radius: var(--border-radius-small);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

header.minimal {
  max-width: 1280px;
  display: flex;
  margin: 1em auto 1em;
}

.caption {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin: 0 25% 4em;
  font-weight: 300;
  background-color: var(--bgcontrast);
  padding: .5em 1em;
  border: solid var(--border-color) 1px;
  border-radius: var(--border-radius-small);
}

.card.full {
  width: 100%;
  max-width: 1280px;
  margin: 1em auto 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  img.full-width {
    height: 60vh;
    border: none;
    background: black;
    margin-bottom: 1em;
  }
  img.margined {
    max-width: 960px;
    width: 80%;
    margin: 2em 10%;
    height: 75vh;
    border: none;
    background: black;
  }
}

.volkswagen  {
  background-size: contain;
  background-position: center 0vh;
  background-repeat: no-repeat;
  background-image: url('img/slash.png');
}
.vw-lead-image {
  width: 100%; 
  height: 70vh; 
  background-size: contain; 
  background-repeat: no-repeat; 

  position: relative;
}
.normal-width-image {
  display: block;
  width: 100%;
  max-width: 720px;
  margin: 1em  auto 8em;
  height: calc(50vh - 64px);
  position: relative;

  .lead-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.full-width-image {
  display: block;
  width: calc(100% + 4em);
  left: -2em;
  height: calc(100vh - 64px);
  position: relative;
  .lead-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.modal {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  &.white {
    background-color: rgba(255,255,255,.9);
    &:after {
      color: black;
    }
  }
  background-color: rgba(0,0,0,.9);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &:after {
    content: "X";
    display: block;
    position: fixed;
    right: 1em;
    top: 1em;
    color: white;
    font-size: 2em;
  }
  .image {
    width: 90vw;
    height: 90vh;
    position: fixed;
    top: 5vh;
    left: 5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.message {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: var(--font-size-large);
  line-height: var(--line-height-base);
  margin-top: 1em;
  strong {
    font-size: var(--font-size-small);
    font-weight: 600;
    background-color: var(--bgcontrast);
    box-shadow: var(--box-shadow-light);
    border: solid var(--border-color) 1px;
    border-radius: var(--border-radius-small);
    padding: .25em .25em;
  }
}
input {
  font-family: var(--font-family-interactions);
  font-weight: 400;
  font-size: var(--font-size-base);
  padding: .5em;
  border-radius: var(--border-radius-large);
  border: var(--border-color) solid 1px;
  background-color: var(--bgcontrast);
  box-shadow: var(--box-shadow-light);
  color: var(--text-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.resume {
  display: flex;
  justify-content: left;
  margin-bottom: 3em;
  .dates {
    text-align: right;
    flex-grow: 1;
    color: var(--dark-gray);
    margin-right: 2em;
    width: 8em;
    margin-top: 1.5em;
  }
  .description {
    flex-basis: calc(100% - 10em);
    text-align: left;
    flex-shrink: 1;
    ul {
      margin-left: 1em;
    }
    li {
      list-style: disc;
      font-size: var(--font-size-large);
    line-height: var(--line-height-small);    }
  }
}

.skill-list {
  width: 100%;
  column-count: 3;
  column-gap: 1em;
  column-fill: balance;  
  margin-bottom: 2em;
  li {
    background-color: var(--bgcolor);
    padding: .5em .75em;
    border-radius: var(--border-radius-small);
    margin-bottom: 1em;
    break-inside: avoid-column; 
    font-family: var(--font-family-interactions);
    line-height: var(--line-height-base);
  }
}

i, em {
  font-style: italic;
}
sup {
  vertical-align: super;
  font-size: smaller;
}

.brag-list {
  li {
    margin:  1em 2em;
    font-size: 1rem;
    line-height: 1.5em;
  }
}

article {
  width: 75%;
  margin: 0 auto 0 25%;
  padding: 0;
  position: relative;
  &.medium {
    width: 90%;
    margin: 0 auto 0 10%;
  
  }
  caption {
    text-align: center;
  }
  .two-columns {
    display: flex;
    justify-content: space-between;
    img {
      width: auto !important;
      margin: 0 1em;
    }
  }
  .image-article {
    display: flex;
    max-width: 960px;
    margin: 0 auto 1em;
    justify-content: space-between;
    .left-content {
      margin-right: 2em;
    }
  }
  ol {
    list-style: disc;
  }
  ul,
  ol {
    max-width: 640px;
    margin: 1em auto .25em;
    li {
      margin-left: 1.5em;
      font-size: var(--font-size-large);
      margin-bottom: .75em;
      line-height: var(--line-height-base);
    }
  }
  video {
    max-width: 480px;
    display: block;
    margin: 1em auto 1em;
    width: 100%;
  }
  img {
    max-width: 720px;
    display: block;
    margin: 0 auto 1em;
    width: 100%;
    &.narrow {
      max-width: 480px;
    }
    &.full-width {
      display: block;
      max-width: 1024px;
      width: 100%;
    }
  }
  p {
    max-width: 720px;
    font-size: var(--font-size-large);
    margin: 0 auto 1em;
    line-height: 1.75em;
  }
  h1,
  h2,
  h3,
  h4,
  h5{
    max-width: 720px;
    margin: .5rem auto .25rem;
  }
}

.resume-header {
  margin-bottom:.5em; text-align: center; font-size: 5rem; width: 100%;
}
ul.horizontal {
  display: flex; /* Align items horizontally */
  list-style: none; /* Remove default bullet points */
  padding: 0;
  margin: 0 auto 2em;
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  width: fit-content;

  max-width: none;

  li {
    margin: 0 0.5em; /* Add spacing between items */
    position: relative;
    width: fit-content;

    /* Add the "|" separator */
    &::after {
      content: "|";
      margin-left: 0.5em; /* Add spacing after the separator */
    }

    /* Remove the separator for the last item */
    &:last-child::after {
      content: "";
    }
  }
}
.widemenu  {
  width: 100%;
  max-width: 960px;
  display: flex;
  position: relative;
  margin: auto;
  height: 64px;
  justify-content: space-between;
  align-items: center;
  h3 {
    flex-basis: 20%;
    text-align: left;
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-left: 2em;
    }
  }
}

.chip {
  transition: opacity 0.3s ease;
}

.chip.hidden {
  opacity: 0;
  pointer-events: none;
}

#chat-container {
  position: fixed;
  bottom: 0;
  left: 1em;
  width: 400px;
  overflow-x: hidden;
  height: auto;
  overflow-y: auto;  max-height: 90vh;
  background-color: var(--bgcolor);
  border: 1px solid var(--border-color-dark);
  border-radius: 10px 10px 0 0;
  box-shadow: var(--box-shadow-dark);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  transition: max-height 0.3s ease;
  resize: none; /* disable native resize */
  #chat-header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem 0;
    margin-bottom: .5em;
    border-bottom: solid var(--border-color) 1px;
    align-items: flex-start;
    button {
      display: block;
    }
    label {
      font-family: var(--font-family-base);
      font-weight: 500;
      font-size: var(--font-size-h2);
      display: block;
      sup {
        font-size: .75rem;
      }
    }
  }

  
  


}
#chat-container.collapsed {
  max-height: 48px; /* Only show the toggle button */
  overflow: hidden;
}




.callout {
  width: 100%;
  background-color: var(--linkcolor);
  color: var(--bgcolor);
  flex-direction: row;
  display: flex;
  align-items: stretch;
  box-shadow: var(--box-shadow-medium);
  border-radius: 1em;
  min-height: 300px;
  overflow: hidden;
  margin-bottom: 2em;
  h2 {
    font-size: 3em;;
  }
  .heading {
    flex: 1;
    padding: 1em 3em;
  }
  .bg-img {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

}
blockquote {
  background-color: var(--bgcontrast);
  padding: 1em;
  border-radius: .25em;
  margin: 1em auto;
  max-width: 720px;
  font-size: var(--font-size-h3);
  line-height: var(--line-height-small);
  width: 100%;
  box-shadow: var(--box-shadow-light);
  margin-bottom: 6em;
}

@media screen and (min-width: 641px) and (max-width: 800px) {
  .main-content {
    padding: 0;
  }
  .card {
    min-height: 17em;
    align-items: left;
    .image {
      display: block;
      height: 15em;
    }
  }
:root {
  --font-size-h1: 2rem;
  --font-size-h2: 1.75rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1rem;
  --font-size-base: 16px;
  --font-size-small: .875rem;
  --font-size-large: 1.125rem;

}
}



@media screen and (max-width: 640px) {

  .resume-header {
    font-size: 2.75rem;
  }
  ul.horizontal {
    display: flex; /* Align items horizontally */
    list-style: none; /* Remove default bullet points */
    padding: 0;
    margin: 0 auto 2em;
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    width: 100%;
    flex-direction: column;
    li {
      font-size: var(--font-size-base);
      &::after {
        content: "";
        margin-left: 0; /* Add spacing after the separator */
      }
  
    }
  }  
  
  :root {
    --font-size-h1: 2rem;
    --font-size-h2: 1.75rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1rem;
    --font-size-base: 16px;
    --font-size-small: .875rem;
    --font-size-large: 1.125rem;
  
  }
  
p.lead {
  font-size: var(--font-size-large);
}

.caption {
  margin: 0 0 4em;
}


.half-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.main-content {
  display: block;
}
  .settings-icon {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
  }  

  .callout {
    flex-direction: column;
    height: 80vh;
    min-height: 400px;
    .heading {
      flex: 0;
      padding: 1em 3em;
    }
    .bg-img {
      flex: 1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  
  }
  blockquote {
    margin-bottom: 2em;
    width: 90%;
  }
    #chat-container.overlay {
      overflow: hidden;
      width: calc(100vw - 2em);
    }
    #chat-container.collapsed {
      max-height: 48px; /* Only show the toggle button */
      overflow: hidden;
    }
  
    
  article {
    width: calc(100% - 2em);
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 1em;
    ul li {
      font-size: 1.5rem;
    }
    p {
      font-size: var(--font-size-large);
    }
    }
  .skill-list {
    column-count: 2;
  }
  .brag-list {
    li {
      margin:  1em 1.5em;
    }
  }
  .resume {
    margin-top: 1em;
    font-size: 1.25rem;
    flex-direction: column;
    .dates {
      text-align: left;
      margin: 0em;
      width: 100%;
      flex-grow: 0;
    }
    .description {
      flex-basis: calc(100% - 6em);
    }
  }

  .full-width-image {
    height: calc(80vh - 64px);
  }
  .modal {
    background-color: rgba(0,0,0,.9);
    &:after {
      right: .75em;
      top: .75em;
      font-size: 1.5rem;
    }
    .image {
      width: 96vw;
      height: 96vh;
      position: fixed;
      top: 2vh;
      left: 2vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .cards.grid .card {
    width: 100%;
    margin-right: 0;
  }

  .cards {
    margin-top: 2em;
    width: calc(100vw - 4em);
    margin-left: 1em;
    left: 0em;
    position: relative;
    transition: width 100ms ease;
  }
  .resume {
    .description {
      flex-basis: inherit;
    }
  }
  .card {
    min-height: 12em;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 2em;
    flex-direction: column;
    .content {
      margin: 0 1.5em;
      flex-basis: 0;
      &.full-width {
        flex-basis: inherit;
        flex-direction: row;
      }
    }
    .image {
      display: block;
      height: 15em;
      width: 100%;
    }
  }
  header {
    width: 100%;
    float: none;
    top: 0em;
    position: fixed;
    background-color: var(--bgcolor);
    z-index: 2;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    h1 {
      font-size: var(--font-size-large);
      margin-left: 1em;
    }

    .bigmenu {
      display: flex;
      margin-right: 3em;
        li {
        margin-top: .5em;
        margin-bottom: .5em;
        a {
          margin: 1em .25em;
          font-size: 1rem;
          
        }
      }
    }
    
    div.menu {
      display: block;
      margin-left: auto;
      margin-right: 1.5em;
      font-weight: 600;
      margin-top: 1.75em;
    }

  }
  .t-none {
    display: inline;
  }
  .m-none {
    display: none;
  }
}



@keyframes bounceIn {
  0%   { transform: translateY(20px) scale(0.98); }
  50%  { transform: translateY(-5px) scale(1.02); }
  100% { transform: translateY(0) scale(1); }
}
.chat-bounce {
  animation: bounceIn 0.4s ease-out;
}


button.secondary {
  border-color: transparent;
  background-color: transparent;
  color: var(--primary-color);
  padding: 2px 2px;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  &:hover {
    border-color: transparent;
    background-color: var(--button-color);
    color: var(--primary-hover-color);
  
  }

}
#chat-toggle {
  margin-top: .75em;
}
#chat-log {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border-bottom: 1px solid var(--border-color);
}

#chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bgcontrast);
  border-bottom: 1px solid var(--border-color);
}

#chat-input {
  flex: 1;
  padding: .5em;
  margin-right: .5em;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-small);
}

button {
  padding: 8px 8px;
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: fit-conten;
  font-weight: 500;
  font-family: var(--font-family-interactions);
}

button:hover {
  background-color: var(--primary-hover-color);
}

#chat-prompts {
  display: flex;
  gap: .5em;
  padding: .5em;
  flex-wrap: wrap;
}


#typing-indicator {
  font-style: italic;
  opacity: 0.8;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.8; }
}


