include styles.pug
.main-content
  include header-nav.pug
  .cards.grid
    .chips
      .chip.graphic Graphic  
        span.m-none Design
      .chip.web Web 
        span.m-none Design
      .chip.logo Logo 
        span.m-none Design
      .chip.photography Photography
    .card.web
      .image(style='background-image:url("img/smuggs.png"); background-size: contain;')
      .content
        h3 Smugglers Notch
        p.caption Web design for four seasons family oriented ski resort in Vermont. <em>2008</em>
    .card.logo.white
      .image(style='background-image:url("img/vita.png"); background-size: cover;')
      .content
        h3 Vita Logo
        p.caption Logo concept for college design course on logo design and typography. <em>2004</em>
    .card.graphic
      .image(style='background-image:url("img/vita_poster.png"); Background-position: center 100%;')
      .content
        h3 Vita Poster
        p.caption Poster based on logo created for college design course on logo design and typography.  <em>2004</em>
    .card.photography
      .image(style='background-image:url("img/YosemiteTunnel.jpg");')
      .content
        h3 Yosemite Tunnel View
        p.caption 4x5 Large Format black and white photograph of a classic Yosemite scene, red filter, 210mm lens. <em>2019</em>
    .card.photography
      .image(style='background-image:url("img/PortraitOfMyFather.jpg"); Background-position: center 20%;')
      .content
        h3 Portrait of my father
        p.caption An intimate studio portrait of my father, 4x5, black and white film.  <em>2018</em>
    //- .card.photography
    //-   .image(style='background-image:url("img/DSC_8980.jpg");')
    //-   .content
    //-     h3 Street Portrait
    //-     p.caption Street portrait, medium format black and white film. <em>2019</em>
    .card.photography
      .image(style='background-image:url("img/IMG_20171223_0002-Pano.jpg");')
      .content
        h3 Fort Mill Dam
        p.caption Large format industrial landscape black and white film. <em>2018</em>
    .card.logo.white
      .image(style='background-image:url("img/ANR_logo.png"); background-size: contain;')
      .content
        h3 Vermont Agency of Natural Resources
        p.caption Logo design showing the three primary aspects of this government agency with individual breakouts. <em>2007</em>
    .card.graphic
      .image(style='background-image:url("img/BCBS_Concept1.jpeg");')
      .content
        h3 BCBS of Vermont Poster
        p.caption Poster design as part of a larger general promotion for Blue Cross, Blue Shield of Vermont. <em>2007</em>
    .card.photography
      .image(style='background-image:url("img/DSC_5866-Edit.jpg");')
      .content
        h3 Bokeh Panorama
        p.caption Digital capture of multiple images stitched together to create ultra-shallow depth of field.  <em>2016</em>
    .card.photography
      .image(style='background-image:url("img/DSC_6651-HDR-Pano.jpg");')
      .content
        h3 Uptown Charlotte at night
        p.caption Long exposure digital photo at blue hour on Tryon street-facing Duke Energy building. <em>2017</em>
    .card.photography
      .image(style='background-image:url("img/DSC_8628.jpg"); Background-position: center 35%;')
      .content
        h3 Romare Bearden Park
        p.caption Time stitched digital photo of the buildings of uptown from sunset through blue hour. <em>2019</em>
    .card.photography
      .image(style='background-image:url("img/Redwood-Twins.jpg"); Background-position: center 35%;')
      .content
        h3 Redwood Twins
        p.caption Oakland California, 4x5 black and white forestscape of two redwoods. <em>2019</em>
    .card.graphic
      .image(style='background-image:url("img/cnb_elvis.png"); Background-size: contain;')
      .content
        h3 National Bank Elvis
        p.caption A series of 2-color print advertisements promoting historically low rates.  <em>2006</em>
    .card.graphic
      .image(style='background-image:url("img/cnb_liz.png"); Background-size: contain;')
      .content
        h3 National Bank Liz
        p.caption A series of 2-color print advertisements promoting historically low rates. <em>2006</em>
    .card.logo.white
      .image(style='background-image:url("img/digitumbra_logo.png");')
      .content
        h3 Digitumbra Logo
        p.caption Logo design for an IT company focused on their 360ยบ solutions. <em>2005</em>
    .card.web
      .image(style='background-image:url("img/drm1.jpeg");')
      .content
        h3 DRM Attorney Web Site
        p.caption Web design for Vermont based law offices, highlighting their color theme. <em>2007</em>
    .card.logo.white
      .image(style='background-image:url("img/enthusiast_logo.png");')
      .content
        h3 Enthusiast Logo
        p.caption Logo design for college independent study course for an automotive magazine. <em>2005</em>
    .card.web
      .image(style='background-image:url("img/hmc_concept7.jpeg"); background-size: contain;')
      .content
        h3 HMC<sup>2</sup> Web Site
        p.caption Horizontally-oriented design concept for Vermont advertising agency web site. <em>2007</em>
    .card.logo
      .image(style='background-image:url("img/icons1-large.png"); background-size: contain;')
      .content
        h3 Icon Set
        p.caption Icon design for dealer.com to support car dealership web sites. <em>2013</em>
    .card.logo.white
      .image(style='background-image:url("img/jazz.png"); background-size: contain;')
      .content
        h3 Jazz Software Logo
        p.caption Icon design for dealer.com to support car dealership web sites. <em>2006</em>
    .card.photography
      .image(style='background-image:url("img/massiv10.jpg");')
      .content
        h3 New Zealand Southern Alps
        p.caption Mountain range on the south island of New Zealand, three image digital panorama. <em>2004</em>
    .card.graphic
      .image(style='background-image:url("img/mid_bizcard.jpeg"); background-size: contain;')
      .content
        h3 Mid-Brain Business Card
        p.caption Designed for my freelance design agency, Mid-Brain, balancing code and design. <em>2005</em>
    .card.graphic.white
      .image(style='background-image:url("img/midbrain_logo.png"); background-size: contain;')
      .content
        h3 Mid-Brain Logo
        p.caption Logo for my freelance design agency, showcasing the artistic (design) and technical (code). <em>2005</em>
    .card.graphic
      .image(style='background-image:url("img/ragster_poster.png"); background-size: contain;')
      .content
        h3 Ragster Poster Concept
        p.caption Poster design showcasing a typeface I designed for a college design course. <em>2005</em>
.modal
  .image
